
@{
    ViewBag.Title = "Outlets";
    Layout = ViewBag.layout;
}




<div class="box box-success">
    <div class="box-header with-border" style="padding-bottom:0px;">
        <div class="jumbotron" style="padding-bottom:0px;padding-top:0px; background-color:white;">
            <center>
                <h2 style="font-family:Arial;font-size:40px;font-weight:bold;">Select an Outlet</h2>
                <div id="newsearch"></div>
            </center>
        </div>
    </div>

    <div class="box-body">
        <center>
            <br />
            <div>
                <a href="/outlet/shoes/1"><button class="btn btn-primary" style="width:400px;height:50px;font-size:25px">Outlet 1</button></a>
            </div>
            <br />
            <div>
                <a href="/outlet/shoes/2"><button class="btn btn-primary" style="width:400px;height:50px;font-size:25px">Outlet 2</button></a>
            </div>
            <br />
            <div>
                <a href="/outlet/warehouse"><button class="btn btn-primary" style="width:400px;height:50px;font-size:25px">Warehouse</button></a>
            </div>
            <br />
        </center>


    </div>


    </div>
