

<form class="form-group">
    @{
        if (HabeebFootwear.Controllers.ShoeController.shoe_Sizes != null)
        {



            foreach (HabeebFootwear.Models.Shoe_Size v in HabeebFootwear.Controllers.ShoeController.shoe_Sizes)
            {
                <label>

                    <input type="radio" class="flat-red" name="ShoeSize" value="" />
                    @v.Size.sizeNo
                    <br />
                </label>
            }
        }
        else
        {
            <h1>Null</h1>
        }

    }

    
</form>

