
@{
    ViewBag.Title = "OutletSelect";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OutletSelect</h2>

<a href="/Transfer/CreateTransfer/1" class="btn btn-primary">OUTLET 1</a>
<a href="/Transfer/CreateTransfer/2" class="btn btn-primary">OUTLET 2</a>
