
@model List<HabeebFootwear.Models.Shoe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOutlet.cshtml";
}

<h2>Point Of Sale</h2>



@{
    int i = 500;
}

@*<div class="form-group">
    <label>Shoes</label>
    <select id="shoess" class="form-control select2" style="width: 100%;">
        @foreach (HabeebFootwear.Models.Shoe shoe in Model)
        {
            <option>@shoe.shoeArticle</option>

        }
    </select>
    <script>
        $('#shoess').on('select2:select', function (e) {
            //alert($('#shoess').select2('data')[0].text);
            qwe($('#shoess').select2('data')[0].text);
        });
    </script>

    <label>Size</label>
    <select class="form-control select2" id="sizes" style="width: 100%;" "></select>


    <script>
        $('#sizes').on('select2:select', function (e) {
            //alert($('#sizes').select2('data')[0].text);
            // alert('running');
            twe($('#shoess').select2('data')[0].text, $('#sizes').select2('data')[0].text);
        });
    </script>

    <select class="form-control select2" id="colors" style="width: 100%;" "></select>
    <input type="text" id="batch" style="width: 100%;">


</div>

<script>

    function qwe(id) {
        //alert(id);
        $.ajax(
            {
                url: "/pointofsale/getSizes/" + id,
                type: "get"


                , success: function (data) {
                    //alert(data);
                    $("#sizes").html(data);
                }
            });
    }
</script>

<script>

    function twe(id, colorid) {
        alert("/pointofsale/getColors/?id=" + id + "&sizeno=" + colorid);
        $.ajax(
            {
                url: "/pointofsale/getColors/?id=" + id + "&sizeno=" + colorid,


                type: "get"


                , success: function (data) {
                    alert(data);
                    $("#colors").html(data);
                }
            });
    }
</script>*@
<div class="box-body">
    <div class="row">

        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>


<div class="row">
    <div class="col-md-6">

        <div class="box box-danger">
            <div class="box-header">
                <h3 class="box-title">Sell</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Shoes</label>
                            <select class="form-control select2" id="shoess" style="width: 100%;">
                                @foreach (HabeebFootwear.Models.Shoe shoe in Model)
                                {
                                    <option>@shoe.shoeArticle</option>

                                }
                            </select>

                            <script>
                                $('#shoess').on('select2:select', function (e) {
                                    //alert($('#shoess').select2('data')[0].text);
                                    qwe($('#shoess').select2('data')[0].text);
                                });
                            </script>
                        </div>

                    </div>
                    <!-- /.col -->
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Size</label>
                            <select class="form-control select2" id="sizes" style="width: 100%;"></select>
                            <script>
                                $('#sizes').on('select2:select', function (e) {
                                    //alert($('#sizes').select2('data')[0].text);
                                    // alert('running');
                                    twe($('#shoess').select2('data')[0].text, $('#sizes').select2('data')[0].text);
                                });
                            </script>
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Color</label>
                            <select class="form-control select2" id="colors" style="width: 100%;" "></select>
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Quantity</label>
                            
                            <input type="text" id="batch" style="width: 100%;">

                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">

                            <label>Action</label>
                            <br />
                            <input type="button" value="Add" id="Add" class="btn btn-primary" />
                        </div>
                        <!-- /.form-group -->
                        <!-- /.form-group -->
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- /.box -->

    </div>
    <!-- /.col (left) -->
    <div class="col-md-6">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Check out</h3>
            </div>
            <div class="box-body">
                <div id="items"></div>
                @*<div class="row">
                    <div class="col-md-4">
                        <div class="row">
                            <label class="col-md-12">abc</label>
                        </div>
                        <div class="row">
                            <label class="col-md-12">abc</label>
                        </div>
                        <div class="row">
                            <label class="col-md-12">abc</label>
                        </div>
                    </div>
                    <div class="col-md-4">

                    </div>
                    <div class="col-md-4">

                    </div>

                </div>*@

                <hr />
                <h3 class="pull-right" style="padding-right:50px;">Total : <span id="total"></span></h3>

            </div>

            <!-- /.box-body -->
        </div>
        <input type="button" value="Checkout" class="btn btn-primary"  />

        <!-- /.box -->
        <!-- iCheck -->
        <!-- /.box -->
    </div>
    <!-- /.col (right) -->
</div>
<script>

    function qwe(id) {
        //alert(id);
        $.ajax(
            {
                url: "/pointofsale/getSizes/" + id,
                type: "get"


                , success: function (data) {
                    //alert(data);
                    $("#sizes").html(data);
                }
            });
    }
</script>

<script>

    document.getElementById("total").innerText = "0";

    function twe(id, colorid) {
        //alert("/pointofsale/getColors/?id=" + id + "&sizeno=" + colorid);
        $.ajax(
            {
                url: "/pointofsale/getColors/?id=" + id + "&sizeno=" + colorid,


                type: "get"


                , success: function (data) {
                    //alert(data);
                    $("#colors").html(data);
                }
            });
    }
</script>
<script>
    window.i = 0;
    window.array = [];
    window.array1 = [];
    window.array2 = [];
    window.array3 = [];
    window.array4 = [];
    $('#Add').click(function () {
        var Article = $("#shoess option:selected").text();
        var Size = $("#sizes option:selected").text();
        var Color = $("#colors option:selected").text();
        var vOId = $("#batch").val();
        
        window.array[window.i] = Article;
        window.array1[window.i] = Size;
        window.array2[window.i] = Color;
        window.array3[window.i] = vOId;
        //alert(vOId);
            
        $.ajax({
            url: "/pointofsale/getprice/" + Article,
            type: "get",
            async: false,
            success: function (data) {
               
                window.array4[window.i] = data;
                
            }

        });
        
        var tt = [];
        $('#items').append('<div class="row"><div class="col-md-4"><div class="row"><label class="col-md-12">Article No: "' + Article + '" </label></div><div class="row"> <label class="col-md-12">Size: "' + Size + '" </label></div><div class="row"><label class="col-md-12">Color: "' + Color + '" </label></div></div><div class="col-md-4"></div><div class="col-md-4"><div class="row"><label class="col-md-12">Price x Quantity</label></div><div class="row"><label class="col-md-12">' + window.array4[window.i] + ' x ' + vOId + '</label></div></div></div></br>');

        for (var a = 0; a <= window.i ; a++){
            tt[a] = window.array3[a] * window.array4[a];
        }

        var sum = 0;

        for (var a = 0; a <= window.i; a++) {
            sum += tt[a];
        }
        document.getElementById('total').innerText = sum;

        window.i++;
    });
</script>