


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutOutlet.cshtml";
}

<h2>Index</h2>

<div class="form-group">
    
    <select class="form-control select2" style="width: 50%;">
        <option selected="selected">Alabama</option>
        <option>Alaska</option>
        <option>California</option>
        <option>Delaware</option>
        <option>Tennessee</option>
        <option>Texas</option>
        <option>Washington</option>
    </select>
</div>